[submodule ".vim/bundle/vim-fake"]
	path = .vim/bundle/vim-fake
	url = https://github.com/tkhren/vim-fake.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/bundle/vim-jsx-pretty"]
	path = .vim/bundle/vim-jsx-pretty
	url = https://github.com/maxmellon/vim-jsx-pretty
[submodule ".vim/bundle/vim-rainbow"]
	path = .vim/bundle/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
