priority -70

snippet fakep
`!v fake#gen('paragraph')`
endsnippet

snippet fakes
`!v fake#gen('sentence')`
endsnippet

snippet fakex
`!v fake#gen('sex')`
endsnippet

snippet fakem
`!v fake#gen('male')`
endsnippet

snippet fakem
`!v fake#gen('female')`
endsnippet



